<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:beans="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="lab"/>

    <bean id="view" class="lab.MainView" factory-method="getInstance" />
    <bean id="service" class="lab.MainService" factory-method="getInstance" />
    <bean id="factory" class="lab.CommandFactory" factory-method="getInstance" />
    <bean name="controller" class="lab.MainController">
        <constructor-arg name="view" ref="view" />
        <constructor-arg name="mainService" ref="service" />
        <constructor-arg name="polygon" ref="polygon" />
    </bean>
</beans>